
* { 
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
}
.summary{
    display: flex;
    justify-content: space-between;
    margin:  20px 0;
    font-weight: bold;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 20px;
}
form input,
form select,
form button{
    flex:  1 1 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button{
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
 form button:hover{
    background-color: #0056b3;
}
#transaction-list {
    list-style: none;
    padding: 0;
}
#transaction-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc ;
}
#transaction-list li.income {
    background-color: #e6ffe6;
}
#transaction-list li.expense{
 background-color: #ffe6e6;
}
.filter{
    margin-bottom: 10px;
}
@media(max-width:600px){
    form input,
    form select,
    form button {
        flex: 1 1 100%;
    }
}
